.aninety {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 99999;

  pointer-events: none;

  user-select: none;

  &.blackout {
    background-color: #000;
  }

  &.flash {
    background-color: #800a;
  }

  &.strike {
    background-color: #b004;

    background-position: center;
    background-size: cover;

    animation-name: strike;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  img {
    width: 12rem;
    height: 12rem;

    &.zoom {
      width: 15rem;
      height: 15rem;
    }

    &.stopSign {
      width: 18rem;
      height: 18rem;
    }

    &.screaming {
      width: calc(100vh - 10vw);
      height: calc(100vh - 10vw);

      animation-name: shake;
      animation-duration: 0.1s;
      animation-timing-function: step-start;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }

    &.incoming {
      width: calc(100vh + 10vw) !important;
      height: calc(100vh + 10vw) !important;
      transition: width 0.075s linear, height 0.075s linear;
    }

    position: fixed;

    transform: translate(-50%, -50%);
  }
}

.death {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 99999;

  transition: opacity 2s;

  &::after {
    position: fixed;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-color: #0000;

    transition: background-color 2.5s;
  }

  &.blackout {
    &::after {
      background-color: #000;
    }
  }

  &.fadeout {
    opacity: 0;
    pointer-events: none;
  }

  animation-name: bgShake;
  animation-duration: 0.25s;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  background-color: #220;
  background-image: linear-gradient(#220a, #220a), url(/images/a90/curious.png);
  background-position: center;
  background-size: 250% 150%;
  background-repeat: no-repeat;

  user-select: none;

  color: #fff99f;
  font-size: 3.5vw;
  text-align: center;
  font-family: "Quicksand", Inter, sans-serif;

  span {
    animation-name: wander;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    position: fixed;
    left: 50%;
    top: 50%;

    width: 60%;

    transition: opacity 0.2s;
    opacity: 1;

    &.hide {
      opacity: 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    filter: brightness(0) contrast(0);
  }

  100% {
    filter: brightness(1) contrast(1);
  }
}

@keyframes strike {
  0% {
    background-color: #b004 !important;
    background-image: radial-gradient(#f00, #f000);
  }

  50% {
    background-color: #fffa !important;
  }

  100% {
    background-color: #0000;
    background-image: radial-gradient(#fff0, #fff0);
  }
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 1px;
    margin-top: 1px;
  }
  10% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: -1px;
    margin-top: -2px;
  }
  20% {
    transform: translate(-50%, -50%) rotate(1deg);
    margin-left: -3px;
    margin-top: 0px;
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 3px;
    margin-top: 2px;
  }
  40% {
    transform: translate(-50%, -50%) rotate(1deg);
    margin-left: 1px;
    margin-top: -1px;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: -1px;
    margin-top: 2px;
  }
  60% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: -3px;
    margin-top: 1px;
  }
  70% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: 3px;
    margin-top: 1px;
  }
  80% {
    transform: translate(-50%, -50%) rotate(1deg);
    margin-left: -1px;
    margin-top: -1px;
  }
  90% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 1px;
    margin-top: 2px;
  }
  100% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: 1px;
    margin-top: -2px;
  }
}

@keyframes bgShake {
  0% {
    background-position: calc(50% + 19px) calc(50% + 19px);
  }
  10% {
    background-position: calc(50% + -19px) calc(50% + -29px);
  }
  20% {
    background-position: calc(50% + -39px) calc(50% + 09px);
  }
  30% {
    background-position: calc(50% + 39px) calc(50% + 29px);
  }
  40% {
    background-position: calc(50% + 19px) calc(50% + -19px);
  }
  50% {
    background-position: calc(50% + -19px) calc(50% + 29px);
  }
  60% {
    background-position: calc(50% + -39px) calc(50% + 19px);
  }
  70% {
    background-position: calc(50% + 39px) calc(50% + 19px);
  }
  80% {
    background-position: calc(50% + -19px) calc(50% + -19px);
  }
  90% {
    background-position: calc(50% + 19px) calc(50% + 29px);
  }
  100% {
    background-position: calc(50% + 19px) calc(50% + -29px);
  }
}

@keyframes wander {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 3px;
    margin-top: 3px;
  }
  10% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: -3px;
    margin-top: -4px;
  }
  20% {
    transform: translate(-50%, -50%) rotate(1deg);
    margin-left: -6px;
    margin-top: 0px;
  }
  30% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 5px;
    margin-top: 4px;
  }
  40% {
    transform: translate(-50%, -50%) rotate(1deg);
    margin-left: 2px;
    margin-top: -5px;
  }
  50% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: -7px;
    margin-top: 2px;
  }
  60% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: -5px;
    margin-top: 7px;
  }
  70% {
    transform: translate(-50%, -50%) rotate(-1deg);
    margin-left: 3px;
    margin-top: 5px;
  }
  80% {
    transform: translate(-50%, -50%) rotate(1deg);
    margin-left: -7px;
    margin-top: -1px;
  }
  90% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 3px;
    margin-top: 4px;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    margin-left: 3px;
    margin-top: 3px;
  }
}
