.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  & > section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    background-color: #fff1;
  }
}

.window {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;

  background-color: #fff2;
  border: 6px solid #fff;
  box-shadow: 6px 6px 0 #fff3;

  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.before {
  transition: opacity 0.3s, transform cubic-bezier(0.25, 1, 0.5, 1) 0.4s;

  &.hide {
    opacity: 0;
    transform: scale(0.9);

    transition: opacity 0.3s, transform cubic-bezier(0.32, 0, 0.67, 0) 0.2s;
  }
}

.after {
  translate: 0 0rem;
  opacity: 1;
  scale: 1;

  transition: opacity 0.3s, translate cubic-bezier(0.25, 1, 0.5, 1) 0.4s;

  &.hide {
    opacity: 0;
    translate: 0 2rem;
    scale: 0.9;

    transition: opacity 0.3s, translate linear 4s, scale cubic-bezier(0.64, 0, 0.78, 0) 0.2s;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
