.project {
  --accent: #2eeba7;
  --transparent-accent: #2eeba755;

  display: flex;
  align-items: flex-start;
  gap: 1rem;

  font-size: 1.25rem;
  font-weight: normal;

  & > img {
    width: 5.5rem;
    aspect-ratio: 1;
  }

  & > main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    ul {
      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      gap: 0.25rem 1rem;
      flex-wrap: wrap;

      li {
        padding: 0;
        margin: 0;

        list-style: none;

        display: flex;
        align-items: center;
        gap: 0.25rem;

        font-size: 1rem;
        font-weight: 500;

        & > span:not(:last-child)::after {
          content: "•";
          color: var(--accent);

          margin-left: 0.25rem;
        }

        &.epochList > span:not(:last-child)::after {
          content: "»";
        }

        i {
          color: var(--accent);
          line-height: 0;
          font-size: 1.25rem;
        }
      }
    }

    .textContent {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .title {
        font-size: 1.85rem;
        font-weight: 700;
      }
    }
  }

  .status {
    --tint: #fff;

    font-size: 1rem;
    font-weight: bold;

    color: var(--tint);

    display: flex;
    align-items: center;
    gap: 0.35rem;

    &::before {
      content: "•";

      display: block;
      width: 0.7rem;
      height: 0.7rem;

      border-radius: 100vw;

      font-size: 0;

      background-color: var(--tint);
    }

    &.s0 {
      --tint: #4fff8f;
    }
    &.s1 {
      --tint: #ffdf6f;
    }
    &.s2 {
      --tint: #4fafff;
    }
    &.s3 {
      --tint: #ff4f4f;
    }
    &.s4 {
      --tint: #af8fff;
    }
  }

  .links {
    padding: 0.25rem 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.lowerProjects {
  display: flex;
  flex-direction: column;
  align-items: center;

  summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35rem;

    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    padding: 0.35rem 1.25rem;

    color: var(--accent);
    border: 4px solid var(--accent);
    box-shadow: 4px 4px 0 var(--transparent-accent);

    transition: opacity 0.3s, box-shadow 0.2s;

    cursor: pointer;

    &:hover {
      box-shadow: 6px 6px 0 var(--transparent-accent);
      opacity: 1;
    }

    &:active {
      box-shadow: 4px 4px 0 var(--transparent-accent);
      opacity: 0.8;
    }
  }

  & > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding-top: 2rem;
  }

  user-select: none;
}
