.reveal {
  filter: blur(5px);
  background-color: var(--accent);
  color: #0000;

  cursor: help;

  &:hover {
    filter: blur(0px);
    background-color: #0000;
    color: #fff;
  }
}

.socialCard {
  --accent: #fd467d;
  --transparent-accent: #fd467d55;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.75rem;

  border: 5px solid var(--accent);

  transition: box-shadow 0.3s;

  box-shadow: 5px 5px 0 var(--transparent-accent);
  &.noElevation {
    box-shadow: none !important;
  }

  &:hover {
    box-shadow: 7px 7px 0 var(--transparent-accent);
  }

  &:active {
    box-shadow: 5px 5px 0 var(--transparent-accent);
  }

  &:hover > i span {
    left: 0% !important;
  }

  & > i {
    width: 5rem;
    aspect-ratio: 1;

    background-color: var(--transparent-accent);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative;

    padding: 1rem;

    img {
      width: 100%;
      aspect-ratio: 1;

      color: #0000;
      font-size: 0;
    }

    span {
      position: absolute;
      left: calc(-100% - 1rem) !important;
      top: 0 !important;

      width: 100% !important;

      transition: left 0.3s;
    }
  }

  main.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    small {
      color: var(--accent);
    }

    .textContent {
      display: flex;
      flex-direction: column;

      font-size: 1.1rem;
      font-weight: 400;

      .title {
        font-size: 1.75rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
